<html>
    <head>
        <title>Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        <link rel="icon" href="/images/logo-top.png">
        <link rel='stylesheet' href='css/home.css'/>
        <link rel='stylesheet' href='css/about.css'/>
        <link rel='stylesheet' href='css/header.css'/>
        <link rel='stylesheet' href='css/footer.css'/>
        <link rel='stylesheet' href='css/font.css'/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    </head>
    <body>
        {{>header}}
        <div id='root'>
            <br><br>
            <div id='heading'>
                <h1 class='TypeOldBlackLight' style='letter-spacing: 0px'>LEARN MORE ABOUT</h1><br>
                <h1 class='TypeOldBlackLight' style='margin-top:10px;letter-spacing: 0px'><strong>JEFF SHUSTER GOLF</strong></h1>
            </div>

            <div id='info'>
                <img id='imgProfile' src='/images/Jeff-Pic.JPG' />
                    
                <div id='textDiv'>
                    <br>
                    <h1 class='uppercase TypeOldBlackLight' style='font-weight:500; letter-spacing: 0px'>About JEFF</h1><br>
                    <h2 class='headingText TypeOldBlackLight' style='font-size: 1.5rem;margin-top:10px; letter-spacing:2px;font-weight:600'>Performance Golf Specialist & Golf Club Fitter</h2><br><br>
                    
                    <p class='textSection TypeOldBlackLight'>For over 20 years, Jeff Shuster has made it his mission to take your game to the next level. Jeff uses the latest Trackman 4 Launch Monitor technology along with his years of experience and datacollection to analyze your game and determine the best solutions to achieving your goals.</p><br>
                 
                    <p class='textSection TypeOldBlackLight'>Jeff will then custom craft your new clubs in house, controlling all aspects of the build and quality to ensure the delivered product will perform exactly as it did in your fitting session.</p><br>

                    <p class='textSection TypeOldBlackLight'>Offering only the best brands on the market, Jeff Shuster Golf is able to deliver a truly brand agnostic custom club fitting process to ensure you are buying the best clubs to maximize your performance.</p><br>

                    <p class='textSection TypeOldBlackLight'>Jeff has personally helped golfers of all levels to perform to their maximum potential. He works with Juniors, Men, Women, College Golfers and Professional Golfers.</p><br>

                    <p class='textSection TypeOldBlackLight'>Jeff Shuster believes in tailoring your equipment to your personal needs. He takes the amount of time necessary and utilizes his extensive years of experience to analyze your unique requirements — the outcome being optimal equipment that is custom built for you and your game.</p><br>

                    <div class='TypeOldBlackLight' id='quote'>
                        <img id='front' src='/images/quotes-l.JPG'/>
                        <p>A proper golf club fitting is the most important investment you can make when purchasing golf clubs.</p>
                        <img id='back' src='/images/quotes-r.JPG'/>
                    </div><br>

                    <p class='textSection TypeOldBlackLight' id='sgTextImg'>Club fitting enables golfers to find the right equipment to play better golf. Whether you’re looking to hit it straighter and further, avoid a big miss or take advantage of the newest and best equipment from top manufacturers, a club fitting with Jeff Shuster can help you find what you need to play better golf and have confidence in the performance of the clubs you choose.</p><br><br>
                </div>
            </div>
            <br>

            <div class='TypeOldBlackLight' id='contactBox'>
                <span id='headingMiddle' class='uppercase TypeOldBlackLight' style=''><strong>Get in touch with jeff</strong></span><br><br><br>

                <div>
                    <div>
                        <a href='https://www.instagram.com/jeffshustergolf/' target='_blank'><img alt='Instagram' src='images/Instagram-yellow.png'></a>
                        <a href='https://www.facebook.com/jeffshustergolf' target='_blank'><img alt='Facebook' src='images/Facebook-yellow.png'></a>
                        <a href='https://twitter.com/jeffshustergolf' target='_blank'><img alt='Twitter' src='images/Twitter-yellow.png'></a>
                    </div><br>
                    <span id='lineVertical' style='border-left: 2px solid black; height: 27px;margin-left:20px; padding:10px;'></span>
                    <div>
                        <a href='mailto:jeff@jeffshustergolf.com' target='_blank' style='opacity:0.70;text-decoration:none;color:black;'><span><img alt='Gmail' src='images/gmail-yellow.png' style='height:35px;width:30px'><strong>&nbsp;&nbsp;jeff@jeffshustergolf.com</span></strong></a>
                    </div><br>
                    <span id='lineVertical' style='border-left: 2px solid black; height: 27px;margin-left:20px; padding:10px;'></span>
                    <div>
                        <a href='tel:416-500-7070' target='_blank' style='opacity:0.70;text-decoration:none;color:black;'><span><img alt='Phone' src='images/phone-yellow.JPG' style='height:30px;width:30px'><strong>&nbsp;&nbsp;416-500-7070</span></strong></a>
                    </div>
                </div><br><br>
                
                <a href="/contact" class='btn' style='margin: 20px; opacity:1;'><span class='transparent_button_black_about' style='letter-spacing:2px'>Make an Appointment Today</span></a>
            </div><br><br>

        </div>
        {{>footer}}
    </body>
</html>