<html>
    <head>
        <title>Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster</title>
        <link rel="icon" href="/images/logo-top.png">
        <link rel='stylesheet' href='css/home.css'/>
        <link rel='stylesheet' href='css/about.css'/>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        {{>header}}
        <div id='root'>
            <br><br><br>
            <span class='header-text uppercase margin-about-left' style='color:black; opacity: 0.70; font-size: 30px;font-weight:500'>LEARN MORE ABOUT</span><br>
            <span class='header-text uppercase margin-about-left' style='color:black; opacity: 0.70; font-size: 30px;'><strong>JEFF SHUSTER GOLF</strong></span>
            <div id='info'>
                <img style='float:left; height: 260px; width: 210px; box-shadow: 1px 1px 5px #696969;margin-top:-60px; margin-left:-60px' src='/images/Jeff-Pic.JPG' />
                <span class='uppercase' style='color:black; opacity: 0.70; font-size: 30px;letter-spacing:18px;padding:50px;font-weight:700'>About JEFF</span><br>
                <span class='margin-50lt' style='color:black; opacity: 0.70; font-size: 25px;letter-spacing:2px;font-weight:600'>Performance Golf Specialist & Golf Club Fitter</span><br><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>For over 20 years, Jeff Shuster has made it his mission to take your</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>game to the next level. Jeff uses the latest Trackman 4 Launch</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>Monitor technology along with his years of experience and data</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>collection to analyze your game and determine the best solutions to </span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>achieving your goals.</span><br><br>
                
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>Jeff will then custom craft your new clubs in house, controlling all aspects of the build</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>and quality to ensure the delivered product will perform exactly as it did in your fitting</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>session.</span><br><br>

                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>Offering only the best brands on the market, Jeff Shuster Golf is able to deliver a truly</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>brand agnostic custom club fitting process to ensure you are buying the best clubs to</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>maximize your performance.</span><br><br>

                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>Jeff has personally helped golfers of all levels to perform to their maximum potential. He</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>works with Juniors, Men, Women, College Golfers and Professional Golfers.</span><br><br>

                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>Jeff Shuster believes in tailoring your equipment to your personal needs. He takes the</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>amount of time necessary and utilizes his extensive years of experience to analyze your</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>unique requirements — the outcome being optimal equipment that is custom built for</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>you and your game.</span><br><br><br>

                <div style='display:flex;margin:auto;width:70%'>
                    <img src='/images/quotes-l.JPG' style='height:80px; width:80px;'/>
                    <span class='sec-text' style='font-size: 17px;width:75%; margin:auto;margin-left: 20px; opacity:0.80'>A proper golf club fitting is the most important investment you can make when purchasing golf clubs.</span><br>
                    <img src='/images/quotes-r.JPG' style='height:80px; width:80px;'/>
                </div>
                <br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>Club fitting enables golfers to find the right equipment to play better golf. Whether</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>you’re looking to hit it straighter and further, avoid a big miss or take advantage of the</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>newest and best equipment from top manufacturers, a club fitting with Jeff Shuster</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>can help you find what you need to play better golf and have confidence in the</span><br>
                <span class='sec-text' style='font-size: 20px;width:75%; margin-left: 50px;'>performance of the clubs you choose.</span><br><br>
            </div>
            <br><br><br>
            <div style='margin:auto; text-align:center'>
                <span class='header-text uppercase margin-about-left' style='color:black; opacity: 0.70; font-size: 25px;letter-spacing:10px;font-weight:400'><strong>Get in touch with jeff</strong></span><br><br><br>
                <div>
                    <a href='https://www.instagram.com/jeffshustergolf/' target='_blank' style='padding:10px;float:center'><img alt='Instagram' src='images/Instagram-yellow.png'></a>
                    <a href='https://www.facebook.com/jeffshustergolf' target='_blank' style='padding:10px;float:center'><img alt='Facebook' src='images/Facebook-yellow.png'></a>
                    <a href='https://twitter.com/jeffshustergolf' target='_blank' style='padding:10px;float:center'><img alt='Twitter' src='images/Twitter-yellow.png'></a>
                    <span style='border-left: 2px solid black; height: 20px;margin-left:20px; padding:10px;float:center'></span>
                    <a href='mailto:jeff@jeffshustergolf.com' target='_blank' style='padding:5px;opacity:0.70;text-decoration:none;color:black;float:center'><span id='email'><img alt='Gmail' src='images/gmail-yellow.png' style='height:35px;width:30px'><strong>&nbsp;&nbsp;jeff@jeffshustergolf.com</span></strong></a>
                    <span style='border-left: 2px solid black; height: 20px;margin-left:20px; padding:10px;float:center'></span>
                    <a href='tel:416-500-7070' target='_blank' style='padding:7px;opacity:0.70;text-decoration:none;color:black;float:center'><span id='email'><img alt='Phone' src='images/phone-yellow.JPG' style='height:30px;width:30px'><strong>&nbsp;&nbsp;416-500-7070</span></strong></a>
                </div><br>
                <a href="/contact" class='btn' style='margin: 20px; opacity:1;'><span class='transparent_button_black_about' style='letter-spacing:2px'>Make an Appointment Today</span></a>
            </div><br><br>
        </div>
        {{>footer}}
    </body>
</html>