<html>
    <head>
        <title>Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster</title>
        <link rel="icon" href="/images/logo-top.png">
        <link rel='stylesheet' href='css/home.css'/>
        <link rel='stylesheet' href='css/services.css'/>
        <link rel='stylesheet' href='css/about.css'/>
        <link rel='stylesheet' href='css/brands.css'/>
        <link rel='stylesheet' href='css/header.css'/>
        <link rel='stylesheet' href='css/footer.css'/>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
        {{>header}}
            <div id='root'>
                <div>
                    <h1>Our Featured Brands</h1>
                    <hr style='background-color: black'>
                    <ul>
                        <li>
                            <span><a><img id='accra_shafts' src='images/brands/Accra_Shafts.png' alt='Accra_Shafts' height='100px' width='230px'/></a></span>
                            <span><a><img id='Aerotech_Shafts' src='images/brands/Aerotech_Shafts.png' alt='Aerotech_Shafts' height='100px' width='230px'/></a></span>
                            <span><a><img id='BGT_Stability_Shafts' src='images/brands/BGT_Stability_Shafts.png' alt='BGT_Stability_Shafts' height='100px' width='230px'/></a></span>
                            <span><a><img id='Fujikura_Shafts' src='images/brands/Fujikura_Shafts.png' alt='Fujikura_Shafts' height='50px' width='200px'/></a></span>
                        </li>
                        <li>
                            <span><a><img id='Nippon_Shafts' src='images/brands/Nippon_Shafts.png' alt='Nippon_Shafts' height='100px' width='230px'/></a></span>
                            <span><a><img id='Oban_Shafts' src='images/brands/Oban_Shafts.png' alt='Oban_Shafts' height='60px' width='200px'/></a></span>
                            <span><a><img id='UST_Mamiya_Shafts' src='images/brands/UST_Mamiya_Shafts.png' alt='UST_Mamiya_Shafts' height='70px' width='230px'/></a></span>
                            <span><a><img id='Mitsubishi_Shafts' src='images/brands/Mitsubishi_Shafts.png' alt='Mitsubishi_Shafts' height='150px' width='200px'/></a></span>
                        </li>
                        <li>
                            <span><a><img id='Callaway_Golf' src='images/brands/Callaway_Golf.png' alt='Callaway_Golf' height='60px' width='130px'/></a></span>
                            <span><a><img id='Cobra_Golf' src='images/brands/Cobra_Golf.png' alt='Cobra_Golf' height='100px' width='140px'/></a></span>
                            <span><a><img id='Epon_Forged_Golf' src='images/brands/Epon_Forged_Golf.png' alt='Epon_Forged_Golf' height='100px' width='230px'/></a></span>
                            <span><a><img id='Honma_Golf' src='images/brands/Honma_Golf.png' alt='Honma_Golf' height='50px' width='130px'/></a></span>
                        </li>
                        <li>
                            <span><a><img id='KBS_Shafts' src='images/brands/KBS_Shafts.png' alt='KBS_Shafts' height='60px' width='180px'/></a></span>
                            <span><a><img id='Miura_Golf' src='images/brands/Miura_Golf.png' alt='Miura_Golf' height='60px' width='200px'/></a></span>
                            <span><a><img id='Ping_Golf' src='images/brands/Ping_Golf.png' alt='Ping_Golf' height='60px' width='200px'/></a></span>
                            <span><a><img id='PXG_Golf' src='images/brands/PXG_Golf.png' alt='PXG_Golf' height='60px' width='180px'/></a></span>
                        </li>
                        <li>
                            <span><a><img id='Srixon_Golf' src='images/brands/Srixon_Golf.png' alt='Srixon_Golf' height='60px' width='180px'/></a></span>
                            <span><a><img id='Cleveland_Golf' src='images/brands/Cleveland_Golf.png' alt='Cleveland_Golf' height='65px' width='170px'/></a></span>
                            <span><a><img id='Taylormade_Golf' src='images/brands/Taylormade_Golf.png' alt='Taylormade_Golf' height='50px' width='180px'/></a></span>
                            <span><a><img id='Titleist_Golf' src='images/brands/Titleist_Golf.png' alt='Titleist_Golf' height='60px' width='180px'/></a></span>
                        </li>
                        <li>
                            <span><a><img id='Graphite_Design_Shafts' src='images/brands/Graphite_Design_Shafts.png' alt='Nippon_Shafts' height='100px' width='230px'/></a></span>
                            <span><a><img id='Vokey_Golf' src='images/brands/Vokey_Golf.png' alt='Vokey_Golf' height='80px' width='200px'/></a></span>
                        </li>
                    </ul>
                </div>
            </div>
        {{>footer}}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>