<html>
    <head>
        <title>Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster</title>
        <link rel="icon" href="/images/logo-top.png">
        <link rel='stylesheet' href='css/home.css'/>
        <link rel='stylesheet' href='css/services.css'/>
        <link rel='stylesheet' href='css/about.css'/>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="js/contact.js"></script>
    </head>
    <body>
        {{>header}}
        <div id='bg-img-header-contact'>
            <div style='height:1%'></div>
            <div id='Service-text-contact'>
                <span class='head-text uppercase' style='color:white; font-size: 40px;font-weight:700;'>Contact Us</span><br><br>
                <span class='' style='color:white; font-size: 23px;font-weight:500'>Please fill out the form or feel free to call <br> us with any questions.</span><br><br>
                <span class='' style='color:white; font-size: 23px;font-weight:500'><a href='https://maps.google.com/?q=Angus Glen Golf Club' target='_blank' style='color: white; text-decoration: none'>10080 Kennedy Rd. (at Angus Glen Golf Club) <br>Markham, ON L6C 1N9</a></span><br><br>
                
                <a href='mailto:jeff@jeffshustergolf.com' target='_blank' style='padding:5px;text-decoration:none;color:white;float:center'><span><img alt='Gmail' src='images/gmail-black.png' height='30px' width='30px'>&nbsp;&nbsp;<span style='font-size: 20px; font-weight:500'>jeff@jeffshustergolf.com</span></span></a>
                <a href='tel:416-500-7070' target='_blank' style='padding:7px;text-decoration:none;color:white;float:center'><span><img alt='Phone' height='24px' width='24px' src='images/phone-black.png'>&nbsp;&nbsp;<span style='font-size: 20px;font-weight:500'>416-500-7070</span></span></a><br><br>
                
                <a href='https://www.instagram.com/jeffshustergolf/' target='_blank' style='padding:7px;float:center'><img alt='Instagram' height='30px' width='30px' src='images/instagram-black.png'></a>
                <a href='https://www.facebook.com/jeffshustergolf' target='_blank' style='padding:7px;float:center'><img alt='Facebook' height='24px' width='24px' src='images/facebook-black.png'></a>
                <a href='https://twitter.com/jeffshustergolf' target='_blank' style='padding:7px;float:center'><img alt='Twitter' height='24px' width='24px' src='images/twitter-black.png'></a>
            </div>
        </div>
        <div id='root-contact'>
            <div id='info-contact'>
                <span class='uppercase' style='color:black; opacity: 0.70; font-size: 25px;letter-spacing:18px;font-weight:700;'>Book a fitting now</span><br><br><br>
                <form onsubmit='validateEmail()'>
                    <div class="form-row">
                        <div class="col">
                            <label class='uppercase col-md-7' style='font-weight: 500'>Your name (required)</label>
                            <input class='col-lg' type='text' name='name' id='name' style='font-size:15px; height:50px' required/>
                        </div>
                        <div class="col">
                            <label class='uppercase col-md-7' style='font-weight: 500'>Your email (required)</label>
                            <input class='col-lg' type='text' name='email-form' id='email-form' style='font-size:15px; height:50px' onfocusout='validateEmail()' required/>
                        </div>
                    </div><br><br>
                    <div class="form-row">
                        <div class="col">
                            <label class='uppercase col-md-7' style='font-weight: 500'>Subject (required)</label><br>
                            <input class='col-lg' type='text' name='subject' id='subject' style='font-size:15px; height:50px' required/>
                        </div>
                        <div class="col">
                            <label for='serviceInterest' class='uppercase col-md-9' style='font-weight: 500'>Service Interest</label>
                            <select class='col-lg' name='serviceInterest' id='serviceInterest' style='font-size:15px; height:50px;' onchange='showTimeSlots()'>
                                <option value="">- - -</option>
                                <option value="Driver Fitting">Driver Fitting</option>
                                <option value="Iron Fitting">Iron Fitting</option>
                                <option value="Wedge Fitting">Wedge Fitting</option>
                                <option value="Full Bag Fitting">Full Bag Fitting</option>
                                <option value="Long Game Fitting">Long Game Fitting</option>
                                <option value="Short Game Fitting">Short Game Fitting</option>
                                <option value="Putter Fitting">Putter Fitting</option>
                                <option value="Lie/Loft Fitting">Lie/Loft Fitting</option>
                                <option value="Re-shafting/Repairs">Re-shafting/Repairs</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div><br><br>
                    <div id='time_slots' class="form-row">
                        <div class="col">
                            <label class='uppercase col-md-9' style='font-weight: 500'>Choose your Date (required)</label>
                            <input class='col-lg' type='date' name='date' id='date' style='font-size:15px; height:50px'/>
                        </div>
                        <div class="col">
                            <label class='uppercase col-md-9' style='font-weight: 500'>Select your Time (required)</label>
                            <select class='col-lg' name='timeSlot' id='timeSlot' style='font-size:15px; height:50px;'>
                                <option value="">- - -</option>
                                <option value="1">09 am - 10 am</option>
                                <option value="2">10 am - 11 am</option>
                                <option value="3">11 am - Noon </option>
                                <option value="4">01 pm - 02 pm</option>
                                <option value="5">02 pm - 03 pm</option>
                                <option value="6">03 pm - 04 pm</option>
                                <option value="7">04 pm - 05 pm</option>
                                <option value="Other">other</option>
                            </select>
                            <label class='' style='font-weight: 400; margin-top:10px;'><mark>*Please choose the start time, and service type will book required slots for you automatically, unless its not other.</mark></label>
                        </div>
                    </div><br><br>
                    <div class="form-row">
                        <div class="col">
                            <label class='uppercase col-md-2' style='font-weight: 500'>Message</label><br>
                            <textarea class='col-lg' class='col-xs-10' type='text' name='message' id='message' style='font-size:15px; height:150px; padding:15px'></textarea>
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="col">
                             <input style='height:40px; width:100px; font-size: 20px; background-color:#3B3C36; color: white' id='submit' type='submit' value='Send'/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{>footer}}
    </body>
    <script>
    </script>
</html>