<html>
    <head>
        <title>Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            //alert('Completed - \nDesign -\n1. Header (Mobile Friendly)\n2. Footer (Mobile Friendly)\n3. Home (Mobile Friendly)\n4. About (Mobile Friendly)\n5. Services (Mobile Friendly)\n6. Form (Mobile Friendly)\n7. Brands (Mobile Friendly)\n8. Admin (Message + Booking + subscribers) \n 9. Admin - url [https://jeff-shuster-golf.herokuapp.com/admin] \n 9a. Username = sahib@gmail.com \n 9b. Pass - Sahib@123 \n\nWorking On ... \n\n1. Shop\n')
        </script>

        <link rel="icon" href="/images/logo-top.png">
        <link rel='stylesheet' href='css/home.css'/>
        <link rel='stylesheet' href='css/header.css'/>
        <link rel='stylesheet' href='css/footer.css'/>
        <link rel='stylesheet' href='css/font.css'/>
    </head>
    <body id='root_home'>
        
        <div id='top-header'>
            <a href='/' style='opacity:1;'><img class='logo_a' alt='Jeff Shuster Golf' src='images/logo.png'/></a>
            <div class='social_media_links' style='float:right'>
                <a href='https://www.instagram.com/jeffshustergolf/' target='_blank' style='padding:2px'><img alt='Instagram' src='images/instagram.png'></a>
                <a href='https://www.facebook.com/jeffshustergolf' target='_blank' style='padding:px'><img alt='Instagram' src='images/facebook.png'></a>
                <a href='https://twitter.com/jeffshustergolf' target='_blank' style='padding:2px'><img alt='Instagram' src='images/twitter.png'></a>
            </div>
            <div class='header-text-top uppercase'>
                <span class='Organetto-LightExt' style='font-weight:100'>better fit</span><br>
                <span class='Organetto-RegularExt' style='font-weight:400'>better build</span><br>
                <span class='Organetto-BoldExt' style='font-weight:700'>better game</span><br>
                <a href="/contact" class='btn' style='margin-top:20px;opacity:1'><span class='transparent_button Organetto-RegularExt'>Book a Fitting</span></a>
            </div>
        </div>


        <div id='desktopHeader' class="topnav Organetto-LightExt">
            <div class='uppercase menuHome'>
                <a href="/services" style='text-decoration:none'>Services |</a>
                <a href="/ourbrands" style='text-decoration:none'>Our Brands |</a>
                <a href="/contact" style='text-decoration:none'>Contact |</a>
                <a href="/about" style='text-decoration:none'>About |</a>
                <a href="#" style='text-decoration:none'>Shop </a>
            </div>
        </div>

        <div id='mobileHeader'>
            {{>header}}
        </div>


        <div class='sec' id='sec1'>
            <img class='sec_image' style='margin: 100px 80px' src='images/sec-1_head.png'/>
            <div class='sec-text'>
                <h1 class='header-text-black uppercase Organetto-RegularExt'>next level golf club fittings</h1>
                <p class='sec-text TypeOldBlackLight' style='font-size: 18px; font-weight: 100; line-height: 35px'>Take your golf game to the next level with Jeff Shuster Golf, your best source for premium custom golf clubs, and personalized golf equipment, fit to your exact specifications. For over 20 years, we’ve made it our mission to help you optimize your golfing performance.</p>
                <h3 class='sec-text'>Step up your game today.</h3><br>
                <a href="/contact" class='btn' style='opacity:1; margin-left: 20px'><span class='transparent_button_black'>Book an appoinment</span></a><br>
                <br>
            </div>
        </div>

        <div class='sec' id='sec2'>
            <div  id='sec2-div1'>
                <h1 class='header-text-black uppercase Organetto-RegularExt' style='font-size: 17px; opacity: 0.7'>CUSTOM GOLF CLUBS FOR OPTIMAL PERFORMANCE RESULTS</h1><br>
                <p class='sec-text TypeOldBlackLight' style='font-size: 20px; font-weight: 100; opacity:0.90; line-height: 35px'>Not satisfied with the way you’re playing? Let us help you improve your game. </p><br>
                <p class='sec-text TypeOldBlackLight' style='font-size: 20px; font-weight: 100; opacity:0.90; line-height: 35px'>As an experienced, seasoned and certified golf club fitting service, Jeff Shuster Golf has helped customers and clients ranging from beginner to tour pro improve their game. By using the latest performance-enhancing technology in the market, utilizing Trackman technology, Jeff will analyze your technique, evaluate your current equipment, and custom build your new equipment to bring you real results.</p>
            </div>
            <div id='sec2-div2'>
                <span class='uppercase'>Expert</span><br>
                <span class='uppercase'>Golf Club Fittings</span><br>
                <img src='images/golf_ball.JPG' height='50px' width='60px'><br>
                <span class='uppercase'>Expert</span><br>
                <span class='uppercase'>Golf Club Building</span><br>
                <img src='images/golf_ball.JPG' height='50px' width='60px'><br>
                <span class='uppercase'>Expert</span><br>
                <span class='uppercase'>Golf Club Repairs</span>
            </div>
        </div>

        <div class='sec sec4'>
            <div>
                <img class='sec_image_trackman' src='images/trackman.png'/>
            </div>
            <div class='sec-text'>
                <h1 class='header-text-black uppercase Organetto-RegularExt' style='color: black; letter-spacing: 10px'>WE FIT UTILIZING TRACKMAN 4, AND FULL OUTDOOR BALL FLIGHT</h1><br>
                <p class='sec-text TypeOldBlackLight' style='font-size: 20px; font-weight: 100; line-height: 35px'>We Analyze and diagnose with fact-based confidence. Trackman 4 captures every little detail with astounding precision, including the ball's exact impact location on the club face, angle of attack, loft angle of the ball, spin rates (both vertical and horizontal) leaving the clubface, curvature in flight and more. The radar system tracks the full ball flight - from launch to landing and everything in between. All important information in determining the best equipment to optimize all of the aforementioned data.</p>
                <br>
            </div>
        </div>

        <div class='sec sec3'>
            <div>
                <h1 class='header-text-black uppercase Organetto-RegularExt' style='color: black; letter-spacing: 10px;'>CUSTOM GOLF CLUBS</h1><br>
                <p class='sec-text TypeOldBlackLight' style='font-size: 20px; font-weight: 100; line-height: 35px'>Experience a huge improvement to your game by getting the right tools, made specifically for YOU. Your personalized custom clubs will be built by utilizing our huge selection of major brands and premium aftermarket components such as quality heads, shafts, and grips. Customize your equipment — optimize your game.</p>
            </div>
            <img class='sec_image-shaft' src='images/sec-4_12b97dbf.png'/>
        </div>
        <br><br>
        <div class='sec sec5'>
            <br>
            <div>
                <h1 class='header-text-black uppercase Organetto-RegularExt' style='margin: auto; margin-top:30px; color:black;font-size: 25px; letter-spacing: 10px;'>PREMIUM SHAFT UPGRADE</h1><br>
                <p class='sec-text TypeOldBlackLight' style='font-size: 20px; font-weight: 100; line-height: 35px'>All golfers know that the shaft is the engine that drives golf club performance. Do you have current equipment that you like, but is not performing well for your swing? Let us re-fit your existing equipment to optimize its performance to best suit your game.</p>
                <a href="/#" class='btn' style='margin: 20px; opacity:1'><span class='transparent_button_black uppercase'><b>shop now</b></span></a>
            </div>
            <br>
        </div>

        <div class='sec sec6'>
            <div id='sec6-div1'>
                <h1 class='header-text-black uppercase Organetto-LightExt' style='margin-top:30px; color:black;font-size: 25px; letter-spacing: 10px;'>SOME OF <span class='Organetto-RegularExt'>OUR BRANDS</span></h1><br>
                <p class='sec-text TypeOldBlackLight' style='font-size: 20px; font-weight: 100; line-height: 35px;'>Whether you’re a beginner or a seasoned professional, having quality golf equipment is a crucial step to becoming the best player you can be. Our equipment is sourced from some of the best brands around the world including Taylormade, Titleist, Mizuno, Miura, PXG, Callaway and many others to ensure you have the best personalized golf equipment available to step up your game.</p>
                <a href="/ourbrands" class='btn' style='margin: 20px; opacity:1'><span class='transparent_button_black uppercase'>Our Brands</span></a>
            </div>
            <div>
                <img class='brand_full' src='images/brands1.PNG'/>

                <img class='brand_half' src='images/brands1.PNG'/>
                <img class='brand_half' src='images/brands2.PNG'/>
            </div>
        </div>


        <div class='sec sec7'>
            <div>
                <h1 class='uppercase Organetto-RegularExt'><strong>satisfaction guranteed</strong></h1><br><br>
                <div id='sec7-content'>
                        <div style='margin: 50px 80px'>
                            <table>
                                <tr>
                                    <td><h1 class='sec7-content-heading TypeOldBlackLight'>+ 5 K</h1></td>
                                    <td>
                                        <span class='sec-text TypeOldBlackLight' style='font-size: 19px; font-weight: 100;text-align: center;'>Improved</span><br>
                                        <span class='sec-text TypeOldBlackLight' style='font-size: 19px; font-weight: 100;text-align: center;'>Games</span><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><h1 class='sec7-content-heading TypeOldBlackLight'>+ 20</h1></td>
                                    <td>
                                        <span class='sec-text TypeOldBlackLightt' style='font-size: 19px; font-weight: 100;text-align: center'>Years of</span><br>
                                        <span class='sec-text TypeOldBlackLight' style='font-size: 19px; font-weight: 100;text-align: center'>Experience</span><br>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><h1 class='sec7-content-heading TypeOldBlackLight'>100 %</h1></td>
                                    <td>
                                        <span class='sec-text TypeOldBlackLight' style='font-size: 19px; font-weight: 100;text-align: center'>Satisfaction</span><br>
                                        <span class='sec-text TypeOldBlackLight' style='font-size: 19px; font-weight: 100;text-align: center'>Guranteed</span><br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    <div class='vertical-line'>
                        <p class='sec-text TypeOldBlackLight' style='font-size: 20px; font-weight: 100; line-height: 35px'>At Jeff Shuster Golf, we stand behind all of the quality products and <a style='text-decoration:underline; color: black' href='/services'>golf club fitting services</a> we offer. We love to see our customers improve their game and follow up with them  to ensure they are 100% satisfied with our services. What’s more, we offer the opportunity to come back for a FREE follow up with our team of experts following your fitting session.</p> <br>
                        <p class='sec-text TypeOldBlackLight' style='font-size: 20px; font-weight: 600; line-height: 35px'>All products carry the original manufacturer warranty, along with our lifetime craftsmanship warranty, so you can be rest assured that you’re getting the best of the best.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class='sec sec8'>
            <img src='images/Angus_Club.JPG'>
            <div style='margin:auto; text-align:center; margin-right:20px'>
                <p class='sec-text TypeOldBlackLight' style='color:black; font-size: 18px; font-weight: 400;'><span class='uppercase Organetto-RegularExt' style='letter-spacing:1px;font-weight:600'>Jeff Shuster Golf</span> is conveniently located at the</p>
                <p class='sec-text uppercase Organetto-RegularExt' style='color:black; font-size: 25px; font-weight: 600;letter-spacing: 8px'><strong>ANGUS GLEN GOLF CLUB</strong></p>
                <p class='sec-text TypeOldBlackLight' style='color:black; font-size: 18px; font-weight: 400; line-height: 25px'>and provides an excellent experience for our clients. Along with being
                able to offer quality fitting and custom building services on site, we 
                have full access to the driving range for full ball flight analysis, 
                using Titleist golf balls, the short game area for wedge work and the full size putting green.</p>
            </div>
        </div>
        {{>footer}}
    </body>
</html>