
<!doctype html>
<html lang="en-US">
  <head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NS7HX5L');</script>
    <!-- End Google Tag Manager -->

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
        <!-- <meta name="title" content="Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster">
        <meta name="description" content="Step up your golf game with premium personalized golf equipment from Jeff Shuster Golf. Book your golf club fitting today.
        " /> -->
        <meta name="author" content="" />
        <!-- <title>Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster</title> -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/apple-icon-57x57_ed96019f.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/apple-icon-60x60_d43fad37.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/apple-icon-72x72_aa95ee11.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/apple-icon-76x76_9bc868e3.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/apple-icon-114x114_1f18a8b8.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/apple-icon-120x120_09de2542.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/apple-icon-144x144_23826e8a.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/apple-icon-152x152_483cdda5.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/apple-icon-180x180_b68ba61d.png" />
        <link rel="icon" type="image/png" sizes="192x192"  href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/android-icon-192x192_25432f06.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/favicon-32x32_1822e296.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/favicon-96x96_96c3fcbe.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/favicon-16x16_afd0fc07.png" />
        <link rel="manifest" href="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/favicon/manifest_b58fcfa7.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png')" />
        <meta name="theme-color" content="#ffffff" />
        <!-- <script id="instafeed-fetcher" src="https://api.instagram.com/v1/users/1675537482/media/recent?access_token=1675537482.8f4c5bf.e04afcd8b32c4c16bbd57883e3edfc23&amp;count=20&amp;callback=instafeedCache476d2694f5dc0dd0.parse"></script> -->
        <!-- <link href="css/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all"/>
        <link rel='stylesheet' type="text/css" href='css/owl.carousel.css' media="all"/>
        <link rel="stylesheet"  type="text/css" href="css/slick-theme.min.css" media="all" />
        <link rel="stylesheet"  type="text/css" href="css/slick.css" media="all" />
        <link  type="text/css" href="css/styles.css" rel="stylesheet" media="all" /> -->
  
	<!-- This site is optimized with the Yoast SEO plugin v14.9 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster</title>
	<meta name="description" content="Step up your golf game with premium personalized golf equipment from Jeff Shuster Golf. Book your golf club fitting today." />
	<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<link rel="canonical" href="https://jeffshustergolf.com/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster" />
	<meta property="og:description" content="Step up your golf game with premium personalized golf equipment from Jeff Shuster Golf. Book your golf club fitting today." />
	<meta property="og:url" content="https://jeffshustergolf.com/" />
	<meta property="og:site_name" content="Jeff Shuster Golf" />
	<meta property="article:modified_time" content="2021-02-09T17:33:00+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://jeffshustergolf.com/#website","url":"https://jeffshustergolf.com/","name":"Jeff Shuster Golf","description":"","potentialAction":[{"@type":"SearchAction","target":"https://jeffshustergolf.com/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"WebPage","@id":"https://jeffshustergolf.com/#webpage","url":"https://jeffshustergolf.com/","name":"Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster","isPartOf":{"@id":"https://jeffshustergolf.com/#website"},"datePublished":"2020-06-11T08:00:16+00:00","dateModified":"2021-02-09T17:33:00+00:00","description":"Step up your golf game with premium personalized golf equipment from Jeff Shuster Golf. Book your golf club fitting today.","inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://jeffshustergolf.com/"]}]}]}</script>
	<!-- / Yoast SEO plugin. -->


    <link rel='dns-prefetch' href='//s.w.org' />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/jeffshustergolf.com\/wp\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.1"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
	</script>
	<style type="text/css">
    img.wp-smiley,
    img.emoji {
	    display: inline !important;
	    border: none !important;
	    box-shadow: none !important;
	    height: 1em !important;
	    width: 1em !important;
	    margin: 0 .07em !important;
	    vertical-align: -0.1em !important;
	    background: none !important;
	    padding: 0 !important;
    }
    </style>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="site-logo">
                    <a href="index.php">
                        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/logo_32ec8785.png" alt="Logo of Jeff Shuster Golf"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 hide-md d-flex justify-content-end">
                <div class="social-media">
                    <a href="https://instagram.com/jeffshustergolf" target="_blank" class="icon-insta">
                        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/Social/instagram_f962a884.png" alt="icon of instagram"/>
                    </a>
                    <a href="https://facebook.com/jeffshustergolf" target="_blank" class="icon-fb">
                        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/Social/facebook_ab30d983.png" alt="icon of facebook"/>
                    </a>
                    <a href="https://twitter.com/jeffshustergolf" target="_blank" class="icon-twt">
                        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/Social/twitter_6aa48a06.png" alt="icon of twitter"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header end -->

<!-- Main slider start -->
<div class="main-slider">
    <div class="item">
        <div class="slider-text slide1">
            <div class="container">
                <div class="slider-text-inner">
                    <div class="text1">BETTER FIT</div>
                    <div class="text2">BETTER BUILD</div>
                    <div class="text3">BETTER GAME</div>
                    <a href="/contact" class="btn btn-primary">Book a Fitting</a>
                </div>
            </div>
        </div>
        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/banner1_60bb3b90.jpg" class="hide-xs" alt="Banner image one">
        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Banner1-mbl_e5ba0c10.png" class="hide-sm hide-md hide-lg" alt="Banner image one">
    </div>
    <div class="item bg_change">
        <div class="slider-text slide2">
            <div class="container">
                <div class="slider-text-inner">
                    <div class="text1">Customized equipment</div>
                    <div class="text2">Optimized game</div>
                    <a href="/contact" class="btn btn-primary">Book a Fitting</a>
                </div>
            </div>
        </div>
        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/banner2_ebe5dfa1.jpg" class="hide-xs" alt="Banner image one">
        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Banner2-mbl_f3f3f730.png" class="hide-sm hide-md hide-lg" alt="Banner image one">
    </div>
    <!-- <div class="item">
        <div class="slider-text slide1">
            <div class="container">
                <div class="slider-text-inner">
                    <div class="text1">BETTER FIT</div>
                    <div class="text2">BETTER BUILD</div>
                    <div class="text3">BETTER GAME</div>
                    <a href="#" class="btn btn-primary">Book a Fitting</a>
                </div>
            </div>
        </div>
        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/banner1_60bb3b90.jpg" class="hide-xs" alt="Banner image one">
        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Banner1-mbl_e5ba0c10.png" class="hide-sm hide-md hide-lg" alt="Banner image one">
    </div>
    <div class="item bg_change">
        <div class="slider-text slide2">
            <div class="container">
                <div class="slider-text-inner">
                    <div class="text1">Customized equipment</div>
                    <div class="text2">Optimized game</div>
                    <a href="#" class="btn btn-primary">Get a Custom Club</a>
                </div>
            </div>
        </div>
        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/banner2_ebe5dfa1.jpg" class="hide-xs" alt="Banner image one">
        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Banner2-mbl_f3f3f730.png" class="hide-sm hide-md hide-lg" alt="Banner image one">
    </div> -->
</div>
<!-- Main slider start -->

<!-- Mainmenu start -->
<div class="mainmenu" id="mainmenu">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button aria-label="Navbar Toggler" class="navbar-toggler"></button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">SERVICES</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">TESTIMONIALS</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#subscribe">SUBSCRIBE</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/contact">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link book-fitting" href="https://shop.jeffshustergolf.com/">SHOP NOW</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Mainmenu start -->
        <div id="home">


    <!-- Section one -->
    <div class="section section-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12 text-center left-col">
                    <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/sec-1_0085e71e.png" class="hide-xs"
                        alt="sec-1" />
                    <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/sec-1_0085e71e.png"
                        class="hide-sm hide-md hide-lg" alt="sec-1" />
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="section-one-content">
                        <h1>NEXT LEVEL GOLF CLUB FITTINGS </h1>
                        <p>Take your golf game to the next level with Jeff Shuster Golf, your best source for premium custom golf clubs, and personalized golf equipment, fit to your exact specifications. For over 20 years, we’ve made it our mission to help you optimize your golfing performance. </p>
                        <h3>Step up your game today.</h3>
                        <p class="text-right-lg">
                            <a href="/contact" class="btn btn-primary hide-sm hide-xs">Book an Appointment</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section one end -->

    <!-- Section two -->
    <div class="section section-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="section-two-left">
                        <h2>CUSTOM GOLF CLUBS FOR OPTIMAL PERFORMANCE RESULTS.</h2>
                        <p>Not satisfied with the way you’re playing? Let us help you improve your game.</p>
                        <p>As an experienced, seasoned and certified golf club fitting service, Jeff Shuster Golf has helped customers and clients ranging from beginner to tour pro improve their game. By using the latest performance-enhancing technology in the market, utilizing Trackman technology, Jeff will analyze your technique, evaluate your current equipment, and custom build your new equipment to bring you real results. 
</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="section-two-right">
                        <ul>
                            <li>EXPERT <strong>GOLF CLUB FITTING</strong></li>
                            <li>EXPERT <strong>GOLF CLUB BUILDING</strong></li>
                            <li>EXPERT <strong>GOLF CLUB REPAIRS</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section two end -->

    <!-- Section three -->
    <div class="section section-three">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-5 col-sm-12">
                    <div class="section-three-left">
                        <h2>CUSTOM GOLF CLUBS</h2>
                        <p>Experience a huge improvement to your game by getting the right tools, made specifically for YOU.  Your personalized custom clubs will be built by utilizing our huge selection of major brands and premium aftermarket components such as quality heads, shafts, and grips. Customize your equipment — optimize your game.
</p>
                        <!-- <a href="#" class="btn btn-primary">Build a Custom Golf Club</a> -->
                    </div>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-12 right-col">
                    <div class="section-three-right">
                        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/sec-4_12b97dbf.png" class="hide-xsm" alt="PXG Clubs" />
                        <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/sec-4_12b97dbf.png" class="hide-desktop" alt="PXG Clubs" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section three end -->

    <!-- Section four -->
    <div class="section section-four">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7 col-md-12">
                    <div class="section-four-content text-right">
                        <h2>PREMIUM SHAFT UPGRADE</h2>
                        <p>All golfers know that the shaft is the engine that drives golf club performance.  Do you have current equipment that you like, but is not performing well for your swing? Let us re-fit your existing equipment to optimize its performance to best suit your game. </p>
                        <a href="https://shop.jeffshustergolf.com/" class="btn btn-primary">Get a Custom Shaft</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section four end -->

    <!-- Section five -->
    <div class="section section-five">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="section-five-content-left">
                        <h2>SOME OF <strong>OUR BRANDS</strong></h2>
                        <p>Whether you’re a beginner or a seasoned professional, having quality golf equipment is a crucial step to becoming the best player you can be. Our equipment is sourced from some of the best brands around the world including Taylormade, Titleist, Mizuno, Miura, PXG, Callaway and many others to ensure you have the best personalized golf equipment available to step up your game.   </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-five-content-right">
                        <div class="partner-logo hide-mobile">
                            <img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/two-row-logos_4377d56f.png" class="hide-xs desktop-brands" alt="SOME OF OUR BRANDS" />
                            <div class="hide-sm hide-md hide-lg">
                                <div class="logo-slider">
                                    <div class="logo-item">
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/ACCRA@2x_02dc4f4b.png" alt="ACCRA_logo" />
                                        </div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Aldila@2x_88297a01.png" alt="Aldila_logo" />
                                        </div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Callaway@2x_5c224091.png"
                                                alt="Callaway_logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Epon@2x_d2f5dc72.png" alt="Epon_logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Fujikura@2x_541c5e2b.png"
                                                alt="Fujikura_logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/KBS@2x_9a4494ef.png" alt="KBS_logo" /></div>
                                    </div>
                                    <div class="logo-item">
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Mitsubishi@2x_37987725.png"
                                                alt="Mitsubishi_logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Mizuno@2x_6dc1f154.png" alt="Mizuno_logo" />
                                        </div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Nippon@2x_df851b70.png" alt="Nippon_logo" />
                                        </div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/OBAN@2x_978d986c.png" alt="OBAN_logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/PXG@2x_4e246877.png" alt="PXG_logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/TaylorMade@2x_077fdb1e.png"
                                                alt="TaylorMade_logo" /></div>

                                    </div>
                                    <div class="logo-item">
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/Titleist@2x_f1ee9ff6.png"
                                                alt="Titleist_logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/True-Temper@2x_7a10662e.png"
                                                alt="True-Temper_logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/mobile-img/UST@2x_872b055a.png" alt="UST_logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/miura_19503ac7.png" alt="Miura logo" /></div>
                                        <div><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/gd_6ad6188b.png" alt="Graphite Design Logo" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section five end -->

    <!-- Section six -->
    <div class="section section-six">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="section-six-heading">
                        <h2>SATISFACTION GUARANTEED</h2>
                        <p class="hide-sm hide-md hide-lg">At Jeff Shuster Golf, we stand behind all of the quality
                            products and <a href="/services"><u>golf club fitting services</u></a>  we offer.   We love to see our customers improve their game and follow up with them to ensure they are 100% satisfied with our services. What’s more, we offer the opportunity to come back for a FREE follow up with our team of experts following your fitting session. </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 text-center-sml">
                    <div class="section-six-content-left">
                        <div class="counts"><strong>+5K</strong><span>Improved<br /> Games</span></div>
                        <div class="counts"><strong>+20</strong><span>Years<br /> Experience</span></div>
                        <div class="counts"><strong>100%</strong><span>Satisfaction<br /> Guaranteed</span></div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="section-six-content-right">
                        <p class="hide-xs">At Jeff Shuster Golf, we stand behind all of the quality products and <a
                                href="/service"><u>golf club fitting services</u></a> we offer.   We love to see our customers improve their game and follow up with them to ensure they are 100% satisfied with our services. What’s more, we offer the opportunity to come back for a FREE follow up with our team of experts following your fitting session. </p>
                        <p><strong>All products carry the original manufacturer warranty, along with our lifetime craftsmanship warranty, so you can be rest assured that you’re getting the best of the best.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section six end -->

    <!-- Section seven -->
    <div class="section section-seven">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="section-seven-content">
                        <p>Jeff Shuster Golf is conveniently located at the <strong>ANGUS GLEN GOLF CLUB</strong> and
                            provides an excellent experience for our clients.  Along with being able to offer quality fitting and custom building services on site, we have full access to the driving range for full ball flight analysis, using Titleist golf balls, the short game area for wedge work and the full size putting green.

                        </p>
                        <div class="dotted-box d-none">
                            <p>We are also able to offer <span>50% off green fees</span> to all of our clients to enjoy
                                a round of golf at Angus Glen with no restrictions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section seven end -->

    <!-- Section eight/instagram -->
    <div class="section section-eight section-instagram">
        <!--<img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/instaphoto.jpg" alt="instagram photos"/>-->
        <div id="instagram"></div>
    </div>
    <!-- Section eight/instagram end -->
</div>
        <!-- Footer -->
       <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-lg-7 col-md-6 col-sm-12">
                            <h3>MARKHAM LOCATION</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 address-col">
                                    <a href="https://www.google.ca/maps/place/Angus+Glen+Golf+Club/@43.902072,-79.324842,3a,75y/data=!3m8!1e2!3m6!1sAF1QipMN-iBtLMdtmgs15PamJw7-6MMEp-eZr1y9oo-z!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipMN-iBtLMdtmgs15PamJw7-6MMEp-eZr1y9oo-z%3Dw169-h86-k-no!7i2048!8i1037!4m5!3m4!1s0x89d52a76c5e85ea3:0xf629a35f1ec6e41c!8m2!3d43.902072!4d-79.324842" target="_blank">
										<p class="address">10080 Kennedy Rd. <span>(at Angus Glen Golf Club)</span><br />Markham, ON L6C 1N9</p>
									</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 contct-info-col">
                                    <p><a href="tel:416.500.7070">416.500.7070</a><br /><a href="mailto:jeff@jeffshustergolf.com">jeff@jeffshustergolf.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div id="subscribe" class="footer-col col-lg-5 col-md-6 col-sm-12 newslater-area">
                            <h3>JOIN OUR NEWSLETTER</h3>
                            <form id="newsletter_form" class="subscribe-form" method="POST" action="/wp/wp-admin/admin-ajax.php?action=mc_submit">
                                <div class="input-fields">
                                    <div class="field-email">
                                    <input aria-label="email" name="email" type="email" placeholder="Email Address" /></div>
                                    <div class="field-agree">
                                        <input aria-label="agree" type="checkbox" id="agree"/>
                                        <label  for="agree">I agree to receive email notifications from Jeff Shuster. <br />I can unsubscribe at any time.</label>
                                    </div>
                                </div>
                                <div class="input-button">
                                    <input aria-label="newsletter_btn" id="newsletter_btn" type="submit" class="btn btn-primary" value="Subscribe" disabled />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-btm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright">Copyright 2020 © Jeff Shuster Golf</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center justify-content-md-end">
                            <div class="social-media">
                                <a href="https://www.instagram.com/jeffshustergolf/"><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/Instagram_402bb67b.png" alt="Icon of Instagram"/></a>
                                <a href="https://www.facebook.com/jeffshustergolf"><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/Facebook_cf0dd313.png" alt="Icon of Facebook"/></a>
                                <a href="https://twitter.com/jeffshustergolf"><img src="https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/images/Twitter_06bded19.png" alt="Icon of Twitter"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->
    <script type='text/javascript' src='https://jeffshustergolf.com/app/themes/317_1367_jsgolf_wp/dist/scripts/main_2f5f922d.js' id='sage/main.js-js'></script>
<script type='text/javascript' src='https://jeffshustergolf.com/wp/wp-includes/js/wp-embed.min.js?ver=5.5.1' id='wp-embed-js'></script>
  </body>
</html>
