<html>
    <head>
        <title>Golf Club Fittings | Personalized Golf Equipment | Jeff Shuster</title>
        
        <link rel="icon" href="/images/logo-top.png">
        <link rel='stylesheet' href='css/home.css'/>
        <link rel='stylesheet' href='css/header.css'/>
        <link rel='stylesheet' href='css/footer.css'/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            //alert('Completed - \nDesign -\n1. Header (Mobile Friendly)\n2. Footer (Mobile Friendly)\n3. Home\n4. About (Mobile Friendly)\n5. Services (Mobile Friendly)\n6. Form [Design] (Mobile Friendly)\n7. Brands (Mobile Friendly)\n\nWorking On ... \n\n1. Shop\n')
        </script>
    </head>
    <body id='root_home'>
        
        <div id='top-header'>
            <a href='/' style='opacity:1;'><img class='logo_a' alt='Jeff Shuster Golf' src='images/logo.png'/></a>
            <div class='social_media_links' style='float:right'>
                <a href='https://www.instagram.com/jeffshustergolf/' target='_blank' style='padding:2px'><img alt='Instagram' src='images/instagram.png'></a>
                <a href='https://www.facebook.com/jeffshustergolf' target='_blank' style='padding:px'><img alt='Instagram' src='images/facebook.png'></a>
                <a href='https://twitter.com/jeffshustergolf' target='_blank' style='padding:2px'><img alt='Instagram' src='images/twitter.png'></a>
            </div>
            <div class='header-text-top uppercase'>
                <span style='font-weight:100'>better fit</span><br>
                <span style='font-weight:400'>better build</span><br>
                <span style='font-weight:700'>better game</span><br>
                <a href="/contact" class='btn' style='margin-top:20px;opacity:1'><span class='transparent_button'>Book a Fitting</span></a>
            </div>
        </div>


        <div id='desktopHeader' class="topnav">
            <div class='uppercase menuHome'>
                <a href="/about" style='text-decoration:none'>About |</a>
                <a href="/services" style='text-decoration:none'>Services |</a>
                <a href="/ourbrands" style='text-decoration:none'>Our Brands |</a>
                <a href="/contact" style='text-decoration:none'>Contact |</a>
                <a href="/shop" style='text-decoration:none'>Shop now</a>
            </div>
        </div>

        <div id='mobileHeader'>
            {{>header}}
        </div>


        <div class='sec' id='sec1'>
            <img class='sec_image' src='images/sec-1_head.png'/>
            <div class='sec-text'>
                <h1 class='header-text-black uppercase'>next level golf club fittings</h1><br>
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>Take your golf game to the next level with Jeff Shuster Golf, your best source</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>for premium custom golf clubs, and personalized golf equipment, fit to your </p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>exact specifications. For over 20 years, we’ve made it our mission to help you </p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>optimize your golfing performance.</p>
                <h3 class='sec-text'>Step up your game today.</h3><br>
                <a href="/contact" class='btn' style='opacity:1'><span class='transparent_button_black uppercase'>Book an appoinment</span></a>
                <br>
            </div>
        </div>

        <div class='sec' id='sec2'>
            <div>
                <h1 class='header-text-black uppercase'>CUSTOM GOLF CLUBS FOR OPTIMAL PERFORMANCE RESULTS</h1><br>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'>Not satisfied with the way you’re playing? Let us help you improve your game.</p><br>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'>As an experienced, seasoned and certified golf club fitting service, Jeff 
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'>Shuster Golf has helped customers and clients ranging from beginner to </p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'>tour pro improve their game. By using the latest performance-enhancing</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'>technology in the market, utilizing Trackman technology, Jeff will analyze </p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'>your technique, evaluate your current equipment, and custom build your</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'>new equipment to bring you real results.</p>
            </div>
            <div id='sec2-div2'>
                <span class='uppercase'>Expert</span><br>
                <span class='uppercase'>Golf Club Fittings</span><br>
                <img src='images/golf_ball.JPG' height='50px' width='60px'><br>
                <span class='uppercase'>Expert</span><br>
                <span class='uppercase'>Golf Club Building</span><br>
                <img src='images/golf_ball.JPG' height='50px' width='60px'><br>
                <span class='uppercase'>Expert</span><br>
                <span class='uppercase'>Golf Club Repairs</span>
            </div>
        </div>


        <div class='sec sec3'>
            <div>
                <h1 class='header-text-black uppercase' style='color: black; font-size: 25px; letter-spacing: 10px;'>CUSTOM GOLF CLUBS</h1><br>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'>Experience a huge improvement to your game by getting the right tools, made </p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'>specifically for YOU. Your personalized custom clubs will be built by utilizing our</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'> huge selection of major brands and premium aftermarket components such as</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100; opacity:0.90'> quality heads, shafts, and grips. Customize your equipment — optimize your game.</p>
            </div>
            <img class='sec_image-shaft' src='images/sec-4_12b97dbf.png'/>
        </div>

        <div class='sec sec4'>
            <div>
                <img class='sec_image_trackman' src='images/trackman.png'/>
            </div>
            <div class='sec-text'>
                <h1 class='header-text-black uppercase' style='color: black; font-size: 25px; letter-spacing: 6px'>WE FIT UTILIZING TRACKMAN 4, AND FULL OUTDOOR BALL FLIGHT</h1><br>
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>We Analyze and diagnose with fact-based confidence. Trackman 4 captures every little </p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>detail with astounding precision, including the ball's exact impact location on the</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>club face, angle of attack, loft angle of the ball, spin rates (both vertical and</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>horizontal) leaving the clubface, curvature in flight and more. The radar system</p> 
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>tracks the full ball flight - from launch to landing and everything in between.</p>    
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>All important information in determining the best equipment to optimize all of</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100'>the aforementioned data.</p>
                <br>
            </div>
        </div>

        <div class='sec sec5'>
            <br>
            <div>
                <h1 class='header-text uppercase' style='margin: auto; margin-top:30px; color:black;font-size: 25px; letter-spacing: 10px;'>PREMIUM SHAFT UPGRADE</h1><br>
                <p class='sec-text' style='font-size: 18px; font-weight: 100;'>All golfers know that the shaft is the engine that drives golf club performance.</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100;'>Do you have current equipment that you like, but is not performing well for your swing?</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100;'>Let us re-fit your existing equipment to optimize its performance to best suit your game.</p>
                <a href="/#" class='btn' style='margin: 20px; opacity:1'><span class='transparent_button_black uppercase'>shop now</span></a>
            </div>
            <br>
        </div>

        <div class='sec sec6'>
            <div>
                <h1 class='header-text uppercase' style='margin-top:30px; color:black;font-size: 25px; letter-spacing: 10px;margin-right:20px'>SOME OF <strong>OUR BRANDS</strong></h1><br>
                <p class='sec-text' style='font-size: 18px; font-weight: 100;'>Whether you’re a beginner or a seasoned professional, having quality golf</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100;'>equipment is a crucial step to becoming the best player you can be. Our</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100;'>equipment is sourced from some of the best brands around the world</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100;'>including Taylormade, Titleist, Mizuno, Miura, PXG, Callaway and many</p>
                <p class='sec-text' style='font-size: 18px; font-weight: 100;'>others to ensure you have the best personalized golf equipment available to</p> 
                <p class='sec-text' style='font-size: 18px; font-weight: 100;'>step up your game.</p>
            </div>
            <img src='images/two-row-logos_4377d56f.png' style=''/>
        </div>


        <div class='sec' style='display: flex; background-color: rgb(230,230,230);'>
            <div style='margin: auto; display:box; padding: 50px'>
                <h1 class='header-text uppercase' style='margin-top:0px; text-align: center; color: black; font-size: 35px; letter-spacing: 15px; opacity: 0.70'><strong>satisfaction guranteed</strong></h1><br><br>
                <div style='display: flex'>
                    <div style='margin-left:40px; padding-right:20px; display: flex'>
                        <div>
                            <h1 style='font-size: 55px; opacity: .80; font-weight: 400; text-align: right'>+ 5 K</h1><br>
                            <h1 style='font-size: 55px; opacity: .80; font-weight: 400; text-align: right'>+ 20</h1><br>
                            <h1 style='font-size: 55px; opacity: .80; font-weight: 400; text-align: right'>100 %</h1>
                        </div>
                        <div>
                            <span class='sec-text' style='font-size: 18px; font-weight: 100;text-align: right'>Improved</span><br>
                            <span class='sec-text' style='font-size: 18px; font-weight: 100;text-align: right'>Games</span><br><br><br>
                            <span class='sec-text' style='font-size: 18px; font-weight: 100;text-align: right'>Years of</span><br>
                            <span class='sec-text' style='font-size: 18px; font-weight: 100;text-align: right'>Experience</span><br><br><br>
                            <span class='sec-text' style='font-size: 18px; font-weight: 100;text-align: right'>Satisfaction</span><br>
                            <span class='sec-text' style='font-size: 18px; font-weight: 100;text-align: right'>Guranteed</span>
                        </div>
                    </div>
                    <div class='vertical-line' >
                        <p class='sec-text' style='font-size: 18px; font-weight: 100;'>At Jeff Shuster Golf, we stand behind all of the quality products and <a style='text-decoration:underline; color: black' href='#'>golf club fitting services</a></p>
                        <p class='sec-text' style='font-size: 18px; font-weight: 100;'> we offer. We love to see our customers improve their game and follow up with them  to </p>
                        <p class='sec-text' style='font-size: 18px; font-weight: 100;'>ensure they are 100% satisfied with our services. What’s more, we offer the opportunity</p>
                        <p class='sec-text' style='font-size: 18px; font-weight: 100;'> to come back for a FREE follow up with our team of experts following</p>
                        <p class='sec-text' style='font-size: 18px; font-weight: 100;'>your fitting session.</p><br>
                        <p class='sec-text' style='font-size: 18px; font-weight: 400;'>All products carry the original manufacturer warranty, along with our lifetime <br>craftsmanship warranty, so you can be rest assured that you’re getting<br> the best of the best.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='sec sec-7' style='display:flex'>
            <img style='float: right; height: 300px; width: 50%;margin-left: 20px' src='images/Angus_Club.JPG'>
            <div style='margin:auto; text-align:center; margin-right:20px'>
                <p class='sec-text' style='color:black; font-size: 18px; font-weight: 400;'><span class='uppercase' style='letter-spacing:1px;font-weight:500'>Jeff Shuster Golf</span> is conveniently located at the</p>
                <p class='sec-text uppercase' style='color:black; font-size: 25px; font-weight: 400;letter-spacing: 8px'><strong>ANGUS GLEN GOLF CLUB</strong></p>
                <p class='sec-text' style='color:black; font-size: 18px; font-weight: 400;'>and provides an excellent experience for our clients. Along with being
                able to offer quality fitting and custom building services on site, we 
                have full access to the driving range for full ball flight analysis, 
                using Titleist golf balls, the short game area for wedge work and the full size putting green.</p>
            </div>
        </div>
        {{>footer}}
    </body>
</html>