<footer>
            <div id='upperbox'>
                <div class='section'>
                    <h5 class='uppercase'>MARKHAM LOCATION</h5><br>
                    <a href='https://maps.google.com/?q=Angus Glen Golf Club' target='_blank' style='color: white; text-decoration: none'>10080 Kennedy Rd. (at Angus Glen Golf <br>Club) Markham, ON L6C 1N9</a>
                </div>
                <div class='section' id='phone'>
                    <h6><a style='text-decoration: none; color: white' href='tel:416.500.7070'>416.500.7070</a></h6>
                    <h6 style='margin: auto'><a style='text-decoration: none; color: white' href='mailto:jeff@jeffshustergolf.com'>jeff@jeffshustergolf.com</a></h6>
                </div>
                <div class='section'>
                    <h5>JOIN OUR NEWSLETTER</h5>
                    <form action='/emailSubscribe' method='POST'>
                        <input id='emailInput' type='email' name='email' placeholder='Email Address' required><button id='bgSc' class='subscribeButton' disabled>Subscribe</button><br>
                        <div id='inputCheck'>
                            <input id='confirmCheck' type='checkbox' onclick='showButton()' unchecked>&nbsp;I agree to receive email notifications from Jeff Shuster. <br>&nbsp;I can unsubscribe at any time.</input>{{!--;
                            <label for='confirmCheck'></label><br> --}}
                        </div>
                        <button id='sgSc' type='submit' class='subscribeButton' disabled>Subscribe</button>
                    </form>
                </div>
            </div>
            <div id='bottombox'>
                <span>
                    <p class='sec'>Copyright 2021 © Jeff Shuster Golf</p> 
                    <p class='sec' id='creator'>Website by <a href='mailto:sarora37@outlook.com' style='color: white;'><strong>Sahib Arora</a></strong></p>
                    <p class='sec' id='socialLinks'>
                        <a href='https://www.instagram.com/jeffshustergolf/' target='_blank'><img alt='Instagram' src='/images/instagram.png'></a>
                        <a href='https://www.facebook.com/jeffshustergolf' target='_blank' ><img alt='Facebook' src='/images/facebook.png'></a>
                        <a href='https://twitter.com/jeffshustergolf' target='_blank' ><img alt='Twitter' src='/images/twitter.png'></a>
                    </p>
                </span>
            </div>
</footer>
<script src='/js/footer.js'></script>