<div class="topnav menu2">
    <a href='/' style='opacity:1;'><img id='nav-brand' style='' alt='Jeff Shuster Golf' src='images/logo.png'/></a>
    <label id='labelImage' for='toggle'>&#9776;</label>
    <input type='checkbox' id='toggle'/>
    <div class='uppercase menu'>
        <a href="/about" >About </a>
        <a href="/services" >Services </a>
        <a href="/ourbrands" >Our Brands </a>
        <a href="/contact" >Contact </a>
        <a href="/shop" >Shop now</a>
    </div>
</div>