<div class="topnav" style='background-image: linear-gradient(135deg, #696969 , #191919);'>
    <a href='/' style='opacity:1;'><img style='height: 10%; width: 10%; margin: 20px; margin-left: 150px' alt='Jeff Shuster Golf' src='images/logo.png'/></a>
    <div class='uppercase' style='display:flex; float:right; letter-spacing: 7px;margin-right: 50px'>
        <a href="/about" style='text-decoration:none'>About |</a>
        <a href="/services" style='text-decoration:none'>Services |</a>
        <a href="/ourbrands" style='text-decoration:none'>Our Brands |</a>
        <a href="/contact" style='text-decoration:none'>Contact |</a>
        <a href="#" style='text-decoration:none'>Shop now</a>
    </div>
</div>