<div class="topnav">
            <div class='uppercase' style='display:flex; float:right; letter-spacing: 7px'>
                <a href="#" style='text-decoration:none'>About |</a>
                <a href="#" style='text-decoration:none'>Services |</a>
                <a href="#" style='text-decoration:none'>Subscribe |</a>
                <a href="#" style='text-decoration:none'>Contact |</a>
                <a href="#" style='text-decoration:none'>Shop now</a>
            </div>
            </a>
</div>