#root{
    background-color:rgb(256,256,256);
}

#root-contact{
    background-color:rgb(256,256,256);
    margin:auto;
}

.margin-about-left {
    margin: 200px;
}

.margin-50lt {
    margin-left: 50px;
    margin-top: 50px;
}

#info {
    margin: auto;
    margin-top:80px;
    width: 75%;
    box-shadow: 1px 1px 5px #696969;
    padding: 30px;
}

#info-contact {
    margin: auto;
    margin-top:-150px;
    width: 75%;
    box-shadow: 1px 1px 5px #696969;
    text-align: center;
    padding: 50px;
    padding-top:50px;
    padding-bottom:50px;
    margin-bottom: 1%;
    background-image:  linear-gradient( rgba(255,255,255), rgba(255,255,255) );
    position: relative;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#email:hover{
    color: goldenrod;
}

.transparent_button_black_about {
    color: black;
    padding:10px; 
    padding-left:50px; 
    padding-right:50px;
    letter-spacing:4px; 
}

.transparent_button_black_brand {
    color: black;
    padding:2px; 
    padding-left:50px; 
    padding-right:50px;
    letter-spacing:4px; 
}