#bg-img-header {
    background-image:  linear-gradient( rgba(255,185,0, 0.1), rgba(0,0,0, 0.3) ), url('../images/service-img.jpg');
    position: relative;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
}

#bg-img-header-contact {
    background-image: url('../images/contact-img-2.jpg');
    position: relative;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.90;
    height:120%;
}

#service-text {
    width:55%;
    margin-left: 100px;
    padding:50px;
    border-radius: 20px; 
    height: 150%;
}

#service-text > span {
    color:white; 
    font-size: 20px;
    font-weight:400;
}

#service-text-contact {
    margin-right: 100px;
    padding:50px;
    border-radius: 20px; 
    text-align: right;
}

.head-text {
    letter-spacing: 10px;
}

.middle-text {
    letter-spacing: 5px;
}

#service-details {
    margin: auto;
    width:80%;
    margin-top: -10%;
    margin-bottom: 8%;
}

.service-box{
    margin: auto;
    width: 300px;
    height:300px;
    margin-bottom: 20px;
    background-image:  linear-gradient( rgba(255,255,255), rgba(255,255,255) );
    position: relative;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    box-shadow:1px 1px 10px rgba(0,0,0, 0.3);
    text-align: center;
}

.service-box-link {
    color: black;
    font-size: 15px;
}

.service-box-link:hover {
    color: goldenrod;
}

.boxRow {
    display: flex;
}

ul
{
    display: table;
    table-layout: fixed;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li
{
    text-align: center;
    display: table-row;
}

li > span
{
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 1220px){

    #bg-img-header{
        width: 100%;
    }

    #service-text {
        width:90%;
        margin-left: 10px;
        padding:10px;
        border-radius: 20px; 
        height: 150%;
    }
    
    .boxRow {
        display: block;
    }
}